.about {
  font-weight: 300;
  background-image: url("../images/wide.png");
  height: 105vh;
  width: 100vw;
  position: absolute;
  left: 0px;
  color: transparent;
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  z-index: -1;
  margin: 0;
  p {
    margin: auto;
    width: 500px;
    margin-top: 18vh;
    color: $background;
    font-size: 13px !important;
    font-weight: 400;
    background-color: rgba(black, 0.5);
    border-radius: 10px;
    padding: 20px;
    @media only screen and (max-width: 760px) {
      margin: 4vh;
      margin-top: 18vh;
      width: unset;
    }
    @media only screen and (max-width: 320px) {
      font-size: 11px !important;
      margin-top: 16vh;
      width: unset;
    }
  }
}
