body {
  width: 100vw;
  height: 100vh;
  background-color: $background;
  overflow: hidden;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

footer {
  .creator {
    font-family: "M PLUS Rounded 1c", sans-serif;
    letter-spacing: 1pt;
    position: absolute;
    z-index: 100;
    left: 10px;
    bottom: 5px;
    font-size: 11px;
    border-radius: 5px;
    padding: 1px 5px;
    background: rgba($color: $black, $alpha: 0.5);
    color: $background;
  }
}
